.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    border: 1px solid #ff9f9f;
    color: white;
    background: #ff8787;
}

.button:focus {
    outline: none;
}

.button:hover,
.button:active {
    background: #ff3e3e;
    border-color: #ff6262;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}